<a href="https://colab.research.google.com/github/jreadia/VDA-CPE-031-CPE21S4/blob/main/Adia_CPE_031_Exercise_No_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example 1 - Using Dataframe

In [1]:
import pandas

mydataset = {
    'animals': ["Cat", "Dog", "Rabbit"],
    'height': [13, 17, 8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

# Example 2 - Using Series

In [2]:
import pandas as pd

a = [1, 2, 3, 4, 5]

myvar = pd.Series(a)

print(myvar)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Example 3 - Using Dataframe

In [14]:
import pandas as pd

data = {
    "age": [42, 38, 39],
    "weight": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar.loc[[0,1,2]])

   age  weight
0   42      50
1   38      40
2   39      45

# Example 4 - Series Using Dataframe

In [20]:
import pandas as pd

s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])

dframe = pd.DataFrame([s1, s2, s3])
print(dframe)

   0  1   2
0  0  4   8
1  1  5   9
2  2  6  10

# Example 5 - Creating Multi-Dimensional Table

In [23]:
import pandas as pd

s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])
s4 = pd.Series([5, 10, 15])

dframe = pd.DataFrame([s1,s2,s3,s4], index = [0, 1, 2, 3], columns = [0, 1, 2])

print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

# Challenge Task

In [25]:

# ----- Challenge 2 ----- #
# How are you going delete indices no 0,1,3 leaving only all items in index 2?

import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

# Creating Multi-Dimensional Table
dframe = pd.DataFrame([s1,s2,s3,s4], index =[0,1,2,3], columns =[0,1,2])

# Deleting rows with indices 0, 1, and 3
dframe = dframe.drop([0, 1, 3])

# Diplaying only index 2
print(dframe)

   0  1   2
2  2  6  10